// Variáveis de Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

// Paleta de Cores
$primary-color-1: #D90479; // Rosa forte
$primary-color-2: #0D0C0C; // Preto
$primary-color-3: #03588C; // Azul
$primary-color-4: #F2F2F2; // Branco Suave

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  background: $primary-color-4;
}

header {
  background: $primary-color-1;
  color: $primary-color-4;
  padding: 10px;
  text-align: left;
  display: flex; // Adicionar flex para alinhamento horizontal
  justify-content: space-between; // Espaço entre logo e menu
  align-items: flex-start;
  //align-items: center; // Centralização vertical
}

nav {
    flex: 0,1; // Ocupará 2 unidades de espaço flex para balancear com o logo
    background: $primary-color-1;
    padding: 5px;
  ul {
    display: flex; // Itens lado a lado no nav
    list-style: none;
    padding: 0;
    margin: 0 15px;
    justify-content: flex-end; // Alinha o menu à direita
  }

  ul {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 15px;

      a {
        text-decoration: none;
        color: $primary-color-4;
        font-weight: bold;

        &:hover {
          color: $primary-color-3;
          text-decoration: underline;
        }
      }
    }
  }
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: $primary-color-4;

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      color: $primary-color-2;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid $primary-color-3;
      border-radius: 5px;
      margin-bottom: 10px;

      &:focus {
        border-color: $primary-color-1;
        outline: none;
      }
    }
  }

  input[type="submit"] {
    background: $primary-color-1;
    color: $primary-color-4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background: darken($primary-color-1, 10%);
    }
  }
}

// Responsividade
@media (max-width: $breakpoint-medium) {

    header {
        flex-direction: column; // Altera o layout para coluna em ecrãs pequenos
    }

    nav ul {
        display: block; // Menu passa a ocupar a largura total
        flex-direction: column; // Coloca os itens do menu em coluna
        text-align: center;
      }
    
      nav ul li {
        margin: 10px 0; // Espaço entre itens em modo coluna
      }

  form {
    padding: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  textarea {
    width: 100%;
  }
}

// Layout Grid Flexível
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .item {
    flex: 1 1 100%; // Ocupa 100% no ecrã pequeno

    @media (min-width: $breakpoint-medium) {
      flex: 1 1 50%; // 50% para tablets
    }

    @media (min-width: $breakpoint-large) {
      flex: 1 1 25%; // 25% para desktops
    }
  }

  // Ajuste para tablet
  @media (min-width: $breakpoint-medium) {
    width: 80%;
  }

  // Ajuste para desktop
  @media (min-width: $breakpoint-large) {
    width: 60%;
  }
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)