$primaricol_1: #D90479;
$primaricol_2: #0D0C0C;
$primaricol_3: #03588C;
$primaricol_4: #F2F2F2;


header{
display: flex;
background: $primaricol_1

}

nav{
    display: flex;
    background-color: $primaricol_4

}