
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-2">
                  </div>
               </div>
      <!-- about -->
      <div class="about slin2">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="titlepage">
                     <h2>About Us</h2>

<BR>

                      <p>Sempre soubemos que a beleza era nossa paixão. Desde pequenas, brincávamos de salão com nossas bonecas, transformando-as em verdadeiras princesas.
                        A medida que crescemos, essa paixão se intensificou e nos levou a seguir a carreira de cabeleireiras.</p>

                        <p>Trabalhamos juntas em um salão por anos, aprendendo e aperfeiçoando nossas técnicas, mas sempre com o sonho de ter nosso próprio espaço.</p>

                        <p>Lembro-me da primeira vez que falamos sobre abrir um salão juntas. Estávamos sentadas na cozinha da minha casa,
                        tomando café da manhã, e a ideia simplesmente surgiu.
                        A gente se olhou, e nos demos conta de que era o momento certo. Tínhamos a experiência, a confiança uma na outra e,
                        acima de tudo, a certeza de que poderíamos criar um lugar onde as pessoas se sentissem especiais.</p>

                        <p>Não foi fácil. Começamos do zero, economizando cada centavo para conseguir alugar um espaço pequeno, mas aconchegante.
                        Passamos noites em claro escolhendo cada detalhe da decoração, desde as cores das paredes até os móveis.
                        Queríamos que o salão tivesse a nossa cara, um lugar onde as clientes se sentissem em casa.</p>

                        <p>A inauguração foi um sucesso! Vimos o salão se transformar em um lugar de encontro, onde as mulheres vinham não só para cuidar dos cabelos,
                        mas também para conversar, rir e relaxar. A cada cliente satisfeita, a sensação de realização era imensa.</p>

                        <p>Com o tempo, o salão foi crescendo. Contratamos mais profissionais, ampliamos os serviços e conquistamos uma clientela fiel.
                        Mas, acima de tudo, continuamos sendo irmãs, trabalhando lado a lado, compartilhando os desafios e as conquistas.</p>

                        <p>Nosso salão é mais do que um negócio, é a realização de um sonho. É o fruto de muito trabalho, dedicação e amor pelo que fazemos.
                        E a cada dia, acordamos com a certeza de que estamos no lugar certo, fazendo o que amamos.</p>



                     <a class="read_more" href="Javascript:void(0)"> conheça um pouco mais</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img">
                     <figure><img src="as_irmas.png" alt="Foto das Irmãs"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->

      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">


                  <!--  footer

                  <div class="col-md-12">
                     <ul class="conta">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Passages of Lorem Ipsum available</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> Call : +012334567890</li>
                        <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="#"></a></li>
                     </ul>
                  </div>
                    <div class=" col-md-3 col-sm-6">
                     <h3>About </h3>
                     <p class="variat">There are many variations of passages of Lorem Ipsum available, but the majority have suffered le</p>
                  </div>
                  -->
                  <div class=" col-md-3 col-sm-6">
                     <h3> Nossos desafios no salão de beleza  </h3>
                     <p class="variat" >
                      Os primeiros meses foram desafiadores.
                      A busca por um espaço adequado e a reforma consumiram boa parte do nosso orçamento.
                      Além disso, a burocracia e a necessidade de montar uma equipe confiável exigiram
                      tempo e dedicação. Paralelamente, a concorrência acirrada no mercado da beleza nos
                      impulsionou a oferecer serviços diferenciados e um atendimento personalizado para
                      conquistar a fidelidade das clientes.
                    </p>
                  </div>
                    <div class="col-md-4 col-sm-6">

                  </div>
               </div>
            </div>
            <!--end footer -->
         </div>
      </footer>

      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>


